.row-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.scroll-container {
  display: flex;
  overflow-x: hidden;
  transition: transform 3s ease;
  scroll-behavior: smooth;
}

.page {
  flex: 0 0 auto;
  display: flex;
  overflow: hidden;
  width: calc(100% - 6em);
  transition: transform 3s ease;
}

.page:first-child {
  margin-left: 3em;
}

.scroll-button {
  font-size: 36px;
  position: absolute;
  height: 95%;
  width: 50px;
  background: transparent;
  border: none;
  outline: none;
}

.scroll-button:hover {
  color: #ff4500;
  cursor: pointer;
  background: rgba(250, 250, 250, 0.1);
  color: #fff;
  height: 95%;
  margin: 0;
  padding: 0;
  width: 50px;
}

.scroll-left {
  float: left;
  left: 0px;
}

.scroll-right {
  float: right;
  right: 0px;
}

.item {
  width: calc(100% / 6);
  padding: 0.25em;
}

.item img {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
