.video-controls-button {
  border-radius: 50%;
  border: 1px solid white;
  padding: 0.75em;
  margin: 0 0.5em;
  font-size: 16px;
  background: transparent;

  &:hover {
    padding: 0.75em;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    cursor: pointer;
  }
}

.play-button {
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 24px;
  padding: 0.5em 1em;
  margin: 0 0.25em 0 0;
  background-color: white;

  &__icon {
    color: black;
  }

  &__text {
    padding: 0 0.2em 0 0.5em;
    color: black;
  }

  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
  }
}

.more-info-button {
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 24px;
  padding: 0.5em 1em;
  margin: 0 0.25em 0 0;
  background: rgba(255, 255, 255, 0.3);

  &__icon-black {
    color: black;
  }

  &__icon-white {
    color: white;
  }

  &__text {
    padding: 0 0.2em 0 0.5em;

    &--black {
      color: black;
    }
  }

  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
  }
}
