.navbar {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #000000;
  color: white;

  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;

    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      padding: 0 0.75em;

      &:hover {
        cursor: pointer;
        color: lightgray;
      }
    }

    &--icon {
      width: 7em;
      padding-right: 1em;
    }
  }
}
