.navbar {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  color: white;
}

.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0 4em;
}

.links li {
  padding: 5px;
}
