.navbar {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #000000;
  color: white;

  &__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 3em;

    &--link {
      color: white;
      text-decoration: none;
      padding: 0 1em;

      &:hover {
        cursor: pointer;
        color: lightgray;
      }
    }

    &--icon {
      width: 7em;
      padding-right: 2em;
      color: red;
    }
  }
}
