.search-button {
  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    font-size: 1.5em;
  }
}

.search-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px white solid;
  padding: 0.5em;

  &__input {
    background: transparent;
    border: none;
    color: white;
    font-size: 0.9em;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  &__button {
    background: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &--icon {
      font-size: 1.5em;
      margin-right: 4px;
    }
  }
}

.screen-reader-only {
  visibility: hidden;
  display: none;
}
